<div class="centerText">
  <h1>Edit Profile</h1>
</div>
<div class="container">
<form action="/sign-up" method="post">
  <input class="form-control" value=<%=@user.username%> type="text" name="username" id="username" placeholder="Username"><br>
  <input class="form-control" value=<%=@user.password%> type="password" name="password" id="password" placeholder="Password"><br>
  <input class="form-control" value=<%=@user.firstName%> type="text" name="firstName" id="firstName" placeholder="First Name"><br>
  <input class="form-control" value=<%=@user.lastName%> type="text" name="lastName" id="lastName" placeholder="Last Name"><br>

  <input class="form-control" value=<%=@user.email%> type="text" name="email" id="email" placeholder="Email"><br>
  <input class="form-control" value=<%=@user.birthday%> type="date" name="birthday" id="birthday" placeholder="Birthday"><br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form><br>

<a data-toggle="modal" data-target="#exampleModal"  class="btn btn-danger" role="button">Delete Profile</a>

</div> 


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delte your Profile?
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" role="button" data-dismiss="modal">Close</a>
        <a role="button" class="btn btn-primary" href=<%="/delete-profile"%>>Delete Post</a>
      </div>
    </div>
  </div>
</div>