<%@posts.reverse.each do |post| %>

<div class="container" id="postContainer">
    <div class="row">
        <div class="col-sm">
            <div class="jumbotron">
                <div class="centerText">
                    <h2 class="display-5"><%=post.title%></h2>
                </div>
                
                <%if session[:user_id] == post.user.id%>
                <a href=<%="/delete-post/#{post.id}"%>type="button" id="closeButton" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span> 
                </a>
                <%end%>
                <hr class="my-4">
                <p><%=post.content%></p>
                <div class="text-center">
                    <img class="rounded" id="postImage" src="<%=post.img_link%>"><br>
                </div>
                <a class="btn btn-primary btn-sm" id="userLink" href=/posts/<%=post.user.id%> role="button"><%=post.user.username%></a>
                
            </div>

        </div>
    </div>
</div>

<% end %>

