<%@posts.reverse.each do |post| %>

<div class="container" id="postContainer">
    <div class="row">
        <div class="col-sm">
            <div class="jumbotron">
                <div class="centerText">
                    <h2 class="display-5"><%=post.title%></h2>
                </div>
                
                <%if session[:user_id] == post.user.id%>
                <button data-toggle="modal" id="closeButton" data-target="#exampleModal" type="button" class="close" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                </button>

               
                <%end%>
                <hr class="my-4">
                <p><%=post.content%></p>
                <div class="text-center">
                    <img class="rounded" id="postImage" src="<%=post.img_link%>"><br>
                </div>
                <a class="btn btn-primary btn-sm" id="userLink" href=/posts/<%=post.user.id%> role="button"><%=post.user.username%></a>
                
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delte this post?
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" role="button" data-dismiss="modal">Close</a>
        <a role="button" class="btn btn-primary" href=<%="/delete-post/#{post.id}"%>>Delete Post</a>
      </div>
    </div>
  </div>
</div>

<% end %>

