<div class="centerText">
    <h2><%=@user.username%>'s Posts</h2>
</div>
<%@posts.reverse.each do |post| %>

<div class="container" id="postContainer">
    <div class="row">
        <div class="col-sm">
            <div class="jumbotron">
                <h2 class="display-5"><%=post.title%></h2>
                <hr class="my-4">
                <p><%=post.content%></p>
                <div class="text-center">
                    <img class="rounded" id="postImage" src="<%=post.img_link%>"><br>
                </div>
                <a class="btn btn-primary btn-sm" href=/posts/<%=post.user.id%> role="button"><%=post.user.username%></a>

            </div>

        </div>
    </div>
</div>

<% end %>


