<div class="centerText">
    <%if session[:user_id] != @user.id%>
        <h2>
            <%=@user.username%>'s Profile</h2>
        <%else%>
            <h2>Your Profile</h2>
            <%end%>
</div>
<div class="container">
    <div class=row>
        <div class="col-sm" align=center>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=@user.username%>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: <%="#{@user.firstName} #{@user.lastName}"%></li>
                    <li class="list-group-item">Birthday: <%=@user.birthday%> </li>
                    <li class="list-group-item">Email: <%=@user.email%></li>
                </ul>
                <% if session[:user_id] == @user.id %>
                    <div class="card-body">
                        <a href="#" class="card-link">Edit Profile</a>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>

<%@posts.reverse.each do |post| %>

    <div class="container" id="postContainer">
        <div class="row">
            <div class="col-sm">
                <div class="jumbotron">
                    <h2 class="display-5">
                        <%=post.title%>
                    </h2>
                    <%if session[:user_id] == post.user.id%>
                        <a href=<%="/delete-post/#{post.id}"%>type="button" id="closeButton" class="close" aria-label="Close">
                          <span aria-hidden="true">&times;</span> 
                        </a>
                    <%end%>
                    <hr class="my-4">
                    <p>
                        <%=post.content%>
                    </p>
                    <div class="text-center">
                        <img class="rounded" id="postImage" src="<%=post.img_link%>">
                        <br>
                    </div>
                    <a class="btn btn-primary btn-sm" href=/posts/<%=post.user.id%> role="button">
                        <%=post.user.username%>
                    </a>

                </div>

            </div>
        </div>
    </div>

    <% end %>